@font-face {
  font-family: "PT Root UI";
  font-style: normal;
  font-weight: 300;
  src: local("PT Root UI"), url("/font/pt-root-ui-light.woff") format("woff");
}

@font-face {
  font-family: "PT Root UI";
  font-style: normal;
  font-weight: 400;
  src: local("PT Root UI"), url("/font/pt-root-ui-regular.woff") format("woff");
}

@font-face {
  font-family: "PT Root UI";
  font-style: normal;
  font-weight: 500;
  src: local("PT Root UI"), url("/font/pt-root-ui-medium.woff") format("woff");
}

@font-face {
  font-family: "PT Root UI";
  font-style: normal;
  font-weight: 700;
  src: local("PT Root UI"), url("/font/pt-root-ui-bold.woff") format("woff");
}

@font-face {
  font-family: "PragmataPro";
  font-weight: normal;
  font-style: normal;
  font-display: swap;
  src: url("https://blink.sh/fonts/pragmatapro_mono_r_liga_0827-webfont.woff2")
      format("woff2"),
    url("https://blink.sh/fonts/pragmatapro_mono_r_liga_0827-webfont.woff")
      format("woff");
}

@font-face {
  font-family: "PragmataPro";
  font-weight: bold;
  font-style: normal;
  font-display: swap;
  src: url("https://blink.sh/fonts/pragmatapro_mono_b_liga_0827-webfont.woff2")
      format("woff2"),
    url("https://blink.sh/fonts/pragmatapro_mono_b_liga_0827-webfont.woff")
      format("woff");
}

:root {
  --custom-border-color: #d9eff0;
  --ifm-font-family-monospace: "PragmataPro", Menlo, monospace;

  --main: #0ae0f0;
  --yellow: #ffb800;
  --white: #ffffff;
  --black: #060d0e;
  --grey: #89a8aa;
  --dark-grey: #344647;

  --ifm-color-primary: #00c0ce;
  --ifm-color-primary-dark: #09cad8;
  --ifm-color-primary-darker: #08becc;
  --ifm-color-primary-darkest: #079da8;
  --ifm-color-primary-light: #1de7f6;
  --ifm-color-primary-lighter: #29e8f6;
  --ifm-color-primary-lightest: #4decf8;
  --ifm-code-font-size: 95%;
}

html[data-theme="dark"] {
  --custom-border-color: #005960;

  --ifm-search-bg-color: #060d0e;

  --ifm-navbar-background-color: #011214;
  --ifm-background-color: #011214;
  --ifm-color-primary: #0ae0f0;
  --ifm-color-primary-dark: #09cad8;
  --ifm-color-primary-darker: #08becc;
  --ifm-color-primary-darkest: #079da8;
  --ifm-color-primary-light: #1de7f6;
  --ifm-color-primary-lighter: #29e8f6;
  --ifm-color-primary-lightest: #4decf8;
  --ifm-navbar-shadow: #0ae0f0;
}

body {
  font-family: "PT Root UI", -apple-system, BlinkMacSystemFont,
    ".SFNSText-Regular", "Helvetica Neue", Helvetica, sans-serif;
}

.container h1,
.container h2,
.container h3,
.container h4,
.container h5,
.container h6 {
  font-family: var(--ifm-font-family-monospace);
  font-weight: normal;
  text-transform: uppercase;
  display: flex;
}

.container h3:before,
.container h4:before,
.container h5:before,
.container h6:before {
  content: "/\0000a0";
  color: var(--yellow);
}

html[data-theme="light"] li code,
html[data-theme="dark"] li code,
html[data-theme="light"] p code,
html[data-theme="dark"] p code {
  display: inline-flex;
  background-color: rgba(10, 224, 240, 0.2);
  border-radius: 8px;
  padding: 4px 12px;
  font-size: 0.8em;
  border: none;
  color: var(--ifm-color-primary);
}

html[data-theme="light"] li code,
html[data-theme="light"] p code {
  color: #00cbe7;
}

.footer {
  border-top: 4px solid #0ae0f0;
  background-color: #011214;
  color: #344647;
}

.footer h4 {
  text-transform: uppercase;
  font-family: var(--ifm-font-family-monospace);
}

.footer a {
  color: #89a8aa;
  font-family: var(--ifm-font-family-monospace);
}

.markdown {
  font-size: 1.4em;
}

.pagination-nav__link {
  border-color: var(--custom-border-color);
}

.pagination-nav__link:hover {
  box-shadow: 0px 0px 10px rgba(10, 224, 240, 0.4);
  background-color: rgba(10, 224, 240, 0.05);
  border-color: var(--ifm-color-primary);
}

.react-toggle-track {
  background-color: #005960 !important;
}

.table-of-contents {
  border-left-color: var(--custom-border-color);
  font-weight: bold;
}

.navbar__link {
  padding: 0;
  font-family: var(--ifm-font-family-monospace);
  text-transform: none;
}

.navbar__link:after,
.navbar__link:before {
  content: "\0000a0\0000a0\0000a0";
}

.navbar__link:hover {
  color: var(--main);
}

.navbar__link--active:before,
.navbar__link:hover:before {
  content: "\0000a0{\0000a0";
  color: var(--yellow);
}

.navbar__link--active:after,
.navbar__link:hover:after {
  content: "\0000a0}\0000a0";
  color: var(--yellow);
}

div[class^="docSidebarContainer_"] {
  border-right-color: var(--custom-border-color);
}

.menu__link {
  border-radius: 0;
  font-family: var(--ifm-font-family-monospace);
}
.menu__link--active {
  border-right: 2px solid var(--ifm-color-primary);
}

.menu.menu--responsive {
  padding-right: 0;
  background: var(--ifm-navbar-background-color);
}

.button.button--secondary {
  color: var(--black);
  background-color: var(--yellow);
  border-color: var(--yellow);
}

.button.button--secondary:hover {
  color: var(--yellow);
  background-color: var(--black);
}

@media screen and (max-width: 996px) {
  .menu.menu--responsive {
    padding-left: 24px;
  }
}

html[data-theme="dark"] .navbar {
  border-bottom: 1px solid var(--custom-border-color);
}

html[data-theme="dark"] blockquote {
  color: #344647;
  border-left-color: #344647;
}

div[class^="announcementBar"],
div[class*=" announcementBar"] {
  height: 50px;
  display: inline-flex;
  justify-content: center;
  align-items: center;
}

div[class^="announcementBar"] div,
div[class*=" announcementBar"] a {
  font-size: 1em !important;
}

div[class*=" announcementBar"] a {
  font-weight: bold !important;
}

@media screen and (max-width: 600px) {
  div[class^="announcementBar"] div,
  div[class*=" announcementBar"] a {
    font-size: 0.8em !important;
  }
}

.twitter,
.github,
.discord {
  opacity: 0.8;
  display: block;
  text-indent: -9999px;
  width: 26px;
  height: 26px;
  background: url(/img/twitter.svg);
  background-size: 26px 26px;
  margin: auto 10px;
}

.github {
  background: url(/img/github.svg);
}

.discord {
  background: url(/img/discord.svg);
  margin: 0 20px 0 10px;
}

.twitter:hover,
.github:hover,
.discord:hover {
  opacity: 0.4;
}

/* Search */

.search-bar {
  margin-right: 20px;
}

html[data-theme="light"] .search-bar {
  background-color: #d9eff0;
}

html[data-theme="dark"] .search-bar {
  background-color: #005960;
}

html[data-theme="dark"] .algolia-docsearch-footer {
  border-bottom: 1px solid #011214 !important;
}

html[data-theme="dark"] .algolia-docsearch-footer,
html[data-theme="dark"] .algolia-docsearch-suggestion--wrapper {
  background: #011214 !important;
}

html[data-theme="dark"] .ds-dropdown-menu:before,
html[data-theme="dark"] .algolia-docsearch-suggestion--no-results,
html[data-theme="dark"] .algolia-docsearch-suggestion--category-header {
  background-color: #163a3f !important;
}

html[data-theme="light"] .ds-dropdown-menu:before,
html[data-theme="light"] .algolia-docsearch-suggestion--no-results,
html[data-theme="light"] .algolia-docsearch-suggestion--category-header {
  background-color: #060d0e !important;
}

html[data-theme="dark"] .algolia-docsearch-suggestion--title {
  color: var(--ifm-color-primary) !important;
}

html[data-theme="dark"] .ds-cursor .algolia-docsearch-suggestion--wrapper {
  background: #041c20 !important;
}

html[data-theme="light"] .ds-cursor .algolia-docsearch-suggestion--wrapper {
  background: #effeff !important;
}

html[data-theme="dark"] .algolia-docsearch-suggestion--highlight {
  background-color: rgba(10, 224, 240, 0.2) !important;
  color: var(--ifm-color-primary) !important;
}

html[data-theme="light"] .algolia-docsearch-suggestion--highlight {
  background-color: rgba(10, 224, 240, 0.2) !important;
  color: #00cbe7 !important;
}

html[data-theme="dark"] .algolia-docsearch-suggestion--subcategory-column {
  border-right-color: #005960 !important;
  color: #005960 !important;
}

html[data-theme="dark"]
  .algolia-autocomplete
  .ds-dropdown-menu
  [class^="ds-dataset-"] {
  background: #005960 !important;
}

html[data-theme="dark"]
  .algolia-autocomplete
  .algolia-docsearch-suggestion--subcategory-column:before,
html[data-theme="dark"]
  .algolia-autocomplete
  .algolia-docsearch-suggestion--content:before {
  background: #005960 !important;
}

html[data-theme="dark"]
  .algolia-autocomplete
  .algolia-docsearch-suggestion--text {
  color: #005960 !important;
}

.algolia-autocomplete .algolia-docsearch-suggestion {
  border-bottom-color: var(--ifm-color-primary) !important;
}
